<section *ngIf="(instancesState$ | async) as state">
  <div class="container">
    <div class="row mt-3 mb-3">
      <div class="col-md-12"><h2>Instances</h2></div>
      <div class="col-md-6">
        <app-table-action
          (create)="onCreate()"
        ></app-table-action>
      </div>
      <div class="col-md-6">
        <app-table-search
          [search$]="currentSearchSubject.asObservable()"
          (clear)="onClear()"
        >
        </app-table-search>
      </div>
    </div>
    <app-table
      [headers$]="headersSubject.asObservable()"
      [rows$]="of(state?.data?.data)"
      [sortDirection$]="currentDirectionSubject.asObservable()"
      [sortAttribute$]="currentAttributeSubject.asObservable()"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (sort)="onSort($event)"
    ></app-table>
    <div class="row">
      <div class="col-md-2">
        <app-table-size
          [sizes$]="sizesSubject.asObservable()"
          (size)="onSize($event)"
        ></app-table-size>
      </div>
      <div class="col-md-10">
        <app-table-paginator
          [pageInfo$]="of(state?.data?.pageInfo)"
          [currentPage$]="currentPageSubject.asObservable()"
          [showFirst$]="of(true)"
          [showLast$]="of(true)"
          (page)="onPage($event)"
        ></app-table-paginator>
      </div>
    </div>
  </div>
</section>
