
<ng-container *ngIf="emailServerState$ | async as state" [ngSwitch]="state.dataState">
  <ng-container *ngIf="{value: unlockForm$ | async}  as unlockForm">
    <div class="container-fluid">
      <div class="container">
        <form #emailServerForm="ngForm" (ngSubmit)="updateEmailServer(emailServerForm)">
          <input type="hidden" id="id" name="id" [ngModel] = "state?.data?.id">
          <input class="form-check-input" type="hidden" role="switch" name="useAsDefault" [ngModel]="state?.data?.useAsDefault" >
          <input class="form-control" type="hidden" role="switch" name="protocol" [ngModel]="state?.data?.protocol" >
          <!-- Title -->
          <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
            <h2 class="h5 mb-3 mb-lg-0"><a routerLink="/mail-servers" class="text-muted"><i class="fa fa-backward me-2"></i></a> Liste des Serveurs</h2>
            <div>
              <button type="button" (click)="sendVerificationCode(emailServerForm)" class="btn btn-warning btn-sm btn-icon-text" [disabled]="state.dataState === DataStateEnum.Loading"
                      *ngIf="state?.data?.state.valueOf() === 'NEW'">
                <span class="text" *ngIf="state.dataState === DataStateEnum.Loading"><i class="fa fa-spinner fa-spin"></i> Chargement...</span>
                <span class="text" *ngIf="!(state.dataState === DataStateEnum.Loading)"><i class="fa fa-send"></i> Envoyer le code de vérification</span>
              </button>
              <button type="button" (click)="verifyCode(emailServerForm)" class="btn btn-warning btn-sm btn-icon-text" [disabled]="state.dataState === DataStateEnum.Loading"
                      *ngIf="state?.data?.state.valueOf() === 'WAITING'">
                <span class="text" *ngIf="state.dataState === DataStateEnum.Loading"><i class="fa fa-spinner fa-spin"></i> Chargement...</span>
                <span class="text" *ngIf="!(state.dataState === DataStateEnum.Loading)"><i class="fa fa-check"></i> Vérifier le serveur</span>
              </button>
            </div>
            <div class="hstack gap-3">
              <button type="button" (click)="createEmailServer()" class="btn btn-success btn-sm btn-icon-text" *ngIf="!unlockForm.value">
                <i class="fa fa-plus"></i> <span class="text"> Nouveau</span>
              </button>

              <button type="button" (click)="editEmailServer()" class="btn btn-primary btn-sm btn-icon-text"
                      *ngIf="!unlockForm.value && state?.data.state.valueOf() === 'NEW'" >
                <i class="fa fa-edit"></i> <span class="text"> Modifier</span>
              </button>
              <button type="submit" class="btn btn-success btn-sm btn-icon-text" *ngIf="unlockForm.value"
                      [disabled]="emailServerForm.invalid || emailServerForm.pristine || state.dataState === DataStateEnum.Loading">
                <span class="text" *ngIf="state.dataState === DataStateEnum.Loading"><i class="fa fa-spinner fa-spin" ></i> Chargement...</span>
                <span class="text" *ngIf="!(state.dataState === DataStateEnum.Loading)"><i class="fa fa-save"></i>  Enregistrer</span>
              </button>
              <button type="button" (click)="cancelEditEmailServer(emailServerForm)" class="btn btn-secondary btn-sm btn-icon-text"
                      *ngIf="unlockForm.value"
                      [disabled]="state.dataState === DataStateEnum.Loading">
                <span class="text"><i class="fa fa-close"></i>  Annuler</span>
              </button>
            </div>
          </div>
          <div *ngIf="state.dataState === DataStateEnum.Error && state.reason" class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
            {{ state.reason}}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div *ngIf="state.dataState === DataStateEnum.Loaded && state.message" class="alert alert-success alert-dismissible fade show mb-4" role="alert">
            {{ state.message}}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <!-- Main content -->
          <div class="row">
            <!-- Left side -->
            <div class="col-lg-8">
              <!-- Basic information -->
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="h6 mb-4">Configuration du Serveur</h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="type" class="form-label"><small>Type</small></label>
                        <select class="form-select"  name="type" id="type" [ngModel]="state?.data?.type"  required [disabled]="(state.dataState === DataStateEnum.Loading) || !unlockForm.value">
                          <option>Selectioner</option>
                          <option ngValue value="GOOGLE">Google</option>
                          <option ngValue value="YAHOO">Yahoo</option>
                          <option ngValue value="MICROSOFT">Microsoft</option>
                          <option ngValue value="OTHER">Autres</option>
                        </select>
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'type'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="host" class="form-label"><small>Serveur SMPT</small></label>
                        <input type="text" class="form-control" name="host" id="host" [ngModel]="state?.data?.host" required [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'host'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label"><small>Port</small></label>
                        <input type="number" class="form-control" name="port" [ngModel]="state?.data?.port" required [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'port'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <ul class="list-group list-group-flush mx-n2">
                          <li class="list-group-item px-0 d-flex flex-column justify-content-between align-items-start">
                            <div class="me-auto pb-3">
                              <small>Utiliser le SSL</small>
                            </div>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" name="useSSL" [ngModel]="state?.data?.useSSL" [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                              <div class="text-start" *ngFor="let error of state.error">
                                <small *ngIf="error.field === 'useSSL'" class="text-danger">{{ error.message }}</small>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Address -->
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="h6 mb-4">Configuration Utilisateur</h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="fromEmail" class="form-label"><small>Adresse courriel</small></label>
                        <input type="email" class="form-control" name="fromEmail" id="fromEmail" [ngModel]="state?.data?.fromEmail" required [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'fromEmail'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <ul class="list-group list-group-flush mx-n2">
                          <li class="list-group-item px-0 d-flex flex-column justify-content-between align-items-start">
                            <div class="me-auto pb-3">
                              <small>Utiliser l'Authentification</small>
                            </div>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" name="useAuth" [ngModel]="state?.data?.useAuth" [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                              <div class="text-start" *ngFor="let error of state.error">
                                <small *ngIf="error.field === 'useAuth'" class="text-danger">{{ error.message }}</small>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="username" class="form-label"><small>Utilisateur</small></label>
                        <input type="email" class="form-control" name="username" id="username" [ngModel]="state?.data?.username" [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'username'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label for="password" class="form-label"><small>Mot de passe</small></label>
                        <input type="password" class="form-control" name="password" id="password" [ngModel]="state?.data?.password" [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'password'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Right side -->
            <div class="col-lg-4">
              <!-- Status -->
              <div class="card mb-4">
                <div class="card-body">

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="name" class="form-label"><small>Nom du serveur</small></label>
                        <input type="text" class="form-control" name="name" id="name" [ngModel]="state?.data?.name" required [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'name'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="createdAt" class="form-label"><small>Date de Création</small></label>
                        <input type="text" class="form-control" [ngModel]="state?.data?.createdAt" name="createdAt" id="createdAt" [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'createdAt'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <label for="state" class="form-label"><small>Status</small></label>
                      <select class="form-select" name="state" id="state"   [ngModel]="state?.data?.state" [disabled]="state.dataState === DataStateEnum.Loading  || !unlockForm.value">
                        <option ngValue value="NEW">Nouveau</option>
                        <option ngValue value="WAITING">En attente de verification</option>
                        <option ngValue value="CONFIRM">Vérifié</option>
                      </select>
                      <div class="text-start" *ngFor="let error of state.error">
                        <small *ngIf="error.field === 'state'" class="text-danger">{{ error.message }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-4">
                <div class="card-body">
                  <h3 class="h6 mb-4">Verification</h3>
                  <div class="row">
                    <div class="col-lg-12" *ngIf="state?.data.state.valueOf() === 'CONFIRM'">
                      <div class="mb-3">
                        <label for="verificationCode" class="form-label"><small>Code de verification</small></label>
                        <input type="text" class="form-control" name="verificationCode" id="verificationCode" [ngModel]="state?.data?.verificationCode"
                               [disabled]="state.dataState === DataStateEnum.Loading  || state?.data?.state.valueOf() === 'CONFIRM'">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'verificationCode'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12" *ngIf="!(state?.data.state.valueOf() === 'CONFIRM')">
                      <div class="mb-3">
                        <label for="code" class="form-label"><small>Code de verification</small></label>
                        <input type="text" class="form-control" name="code" id="code" ngModel
                               [disabled]="state.dataState === DataStateEnum.Loading  || state?.data?.state.valueOf() === 'NEW'">
                        <div class="text-start" *ngFor="let error of state.error">
                          <small *ngIf="error.field === 'code'" class="text-danger">{{ error.message }}</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="mb-3">
                        <label for="verifiedAt" class="form-label"><small>Vérifié le</small></label>
                        <input type="text" class="form-control" [ngModel]="state?.data?.verifiedAt" name="verifiedAt" id="verifiedAt" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </ng-container>
</ng-container>
