.navbar {
  background-color: #097969; /* Vert kaki */
  color: #fff; /* Texte blanc */
}
.navbar-brand {
  color: #fff;
}
.navbar-brand img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.navbar-nav .nav-link {
  color: #fff !important;
}
.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
}


.dropdown-menu .dropdown-item:hover,
.active {
  background-color: #097969;
  color: #fff;
}


